{%load dashboard_tags%}
<div class="table-header">
  <h2 id="tableTitle">Items</h2>
  <span class="result-count" id="resultCount">{{paginator.count}} results</span>
</div>
<div style="overflow-x: auto;">
  <table id="dataTable">
    <thead id="tableHeader">
      <tr>
        <th>Product</th>
        <th>UPC</th>
        <th>Price</th>
        <th>Type</th>
        <th>Stock</th>
        <th>Status</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="tableBody">
      {%for stock_record in object_list%}
      <tr>
        <td>
          <div class="group-cell">
            <img class="img-preview" src="{{stock_record.get_product_image}}" alt="{{stock_record.product.title}}">
            <div class="item-info">
                <h4>{{stock_record.product.title}}</h4>

            </div>
          </div>
        </td>
        <td>{{stock_record.product.upc}}</td>

        <td>
          $1200
          <div class="old">${{stock_record.price}}</div>
          <div class="discount">-12%</div>
        </td>
        <td>{{stock_record.product.product_class.name}}</td>
        <td>{{stock_record.num_in_stock}}</td>
        <td>{{stock_record.status}}</td>
        <td>{{stock_record.date_updated|date}}</td>

        <td>
          <button class="action-btn edit-btn"  onclick="update('{{stock_record.id}}')">✏️ Edit</button>
          <button class="action-btn delete-btn" data-id="{{stock_record.id}}" onclick="openDeleteModal('{{stock_record.product.id}}', '{{stock_record.product.title}}')">🗑️ Remove</button>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
<div id="noResultsMessage" class="no-results" style="display: none;">
  <div class="no-results-icon">🖼️</div>
  <h3>No items found</h3>
  <p>Try adjusting filters or create new</p>
  <button class="empty-state-btn" id="emptyStateActionBtn">Create new</button>
</div>



{%if page_obj%}
<!-- PAGINATION -->
<div class="pagination" id="pagination">

  <button class="page-btn" id="prevPage" {% if page_obj.has_previous %}data-next-number="{{page_obj.previous_page_number}}" onclick="applyPagination()"{%else%} disabled {%endif%}>←</button>

  {%for page in paginator.page_range%}
  <button class="page-btn {%if page_obj.number == page%}active {%endif%}" data-next-number="{{page}}" onclick="applyPagination()">{{page}}</button>
  {%endfor%}

  <button class="page-btn" id="nextPage" {%if page_obj.has_next%}data-next-number="{{page_obj.next_page_number}}" onclick="applyPagination()"{%else%} disabled {%endif%} >→</button>

</div>
{%endif%}
