    <div class="pagination">
      <a class="page-btn {% if not page_obj.has_previous %}disabled{%endif%}">
        <i class="fa-solid fa-chevron-left"></i>
      </a>
      {%if first_pages%}
        {%for number in first_pages%}
        <a class="page-btn" href="?page={{number}}">{{number}}</a>

        {%endfor%}

        {%if current_pages.0 > first_pages|last|add:1   %}
        ...
        {%endif%}
      {%endif%}

      {%for number in current_pages%}
        {%if number == page_obj.number%}
      <a class="page-btn active" href="?page={{number}}">{{page_obj.number}}</a>
      {%else%}
      <a class="page-btn " href="?page={{number}}">{{number}}</a>


      {%endif%}
      {%endfor%}

      {%if end_pages%}
        {%if current_pages|last|add:1 < end_pages.0   %}
        ...
        {%endif%}
        {%for number in end_pages%}
        <a class="page-btn" href="?page={{number}}">{{number}}</a>

        {%endfor%}
      {%endif%}
      <a class="page-btn {% if not page_obj.has_next %}disabled{%endif%}" href="?page={{number}}">
        <i class="fa-solid fa-chevron-right"></i>
      </a>
    </div>