{%extends "base.html"%}
{% load static catalog_tags%}
  {%block style%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
  <style type="text/css">
.hero-banner {
  /* This creates a semi-transparent black layer over your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 50px 20px; /* Added a bit more padding */
  text-align: center;
  color: white;
}

/* Make sure the text elements are legible against the new background */
.hero-banner h1 { color: #fff; }
.hero-banner p { color: #eee; }
.offer-label { background: var(--primary); color: #fff; }

  </style>

  {%endblock%}
{%block content%}


{%get_offer_banner offers 0%}

<!-- featured product grid (new) to extend page -->
<div class="section-title">
  <i class="fa-regular fa-fire-flame-curved"></i>
  <span>Trending products from last month</span>
</div>

<div class="product-grid">
  <!-- card 1 -->
  {% for record in stock_records%}
  <a href="{%url 'catalog:product_detail' record.product.slug record.id%}">
    <div class="product-card">
       {%if record.get_type_of_discount%}<span class="badge">-%{{record.get_discount}} {{record.get_type_of_discount}} offer</span>{%endif%}
      <img src="{{record.product.images.first.image.url}}" alt="{{record.product.images.first.caption}}" class="product-img" style="background:#f9f9f9;">
      <h3>{{record.product.title}}</h3>
      <div class="price">{%if record.has_dicounted%}<span class="old-price">${{record.price}}</span> {%endif%}{{record.output_display_final_price}}</div>

    </div>
  </a>
  {%endfor%}

</div>

{%get_offer_banner offers 1%}
{%endblock%}
