{%load dashboard_tags%}
<div class="table-header">
  <h2 id="tableTitle">Items</h2>
  <span class="result-count" id="resultCount">{{paginator.count}} results</span>
</div>
<div style="overflow-x: auto;">
  <table id="dataTable">
    <thead id="tableHeader">
      <tr>
        <th>Name</th>
        <th>Offer type</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Priority</th>
        <th>Is available</th>
        <th>Uses</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="tableBody">
      {%for offer in object_list%}
      <tr>
        <td>{{offer.name}}</td>
        <td>{{offer.offer_type.type}}</td>
        <td>{{offer.start_datetime}}</td>
        <td>{{offer.end_datetime}}</td>
        <td>{{offer.priority}}</td>
        <td>{{offer.status}}</td>
        <td>-</td>

        <td>
          <button class="action-btn edit-btn"  onclick="update('{{offer.id}}')">✏️ Edit</button>
          <button class="action-btn delete-btn" data-id="{{offer.id}}" onclick="openDeleteModal('{{offer.id}}', '{{offer.name}}')">🗑️ Remove</button>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
<div id="noResultsMessage" class="no-results" style="display: none;">
  <div class="no-results-icon">🖼️</div>
  <h3>No items found</h3>
  <p>Try adjusting filters or create new</p>
  <button class="empty-state-btn" id="emptyStateActionBtn">Create new</button>
</div>

    

{%if page_obj%}
<!-- PAGINATION -->
<div class="pagination" id="pagination">
  
  <button class="page-btn" id="prevPage" {% if page_obj.has_previous %}data-next-number="{{page_obj.previous_page_number}}" onclick="applyPagination()"{%else%} disabled {%endif%}>←</button>
  
  {%for page in paginator.page_range%}
  <button class="page-btn {%if page_obj.number == page%}active {%endif%}" data-next-number="{{page}}" onclick="applyPagination()">{{page}}</button>
  {%endfor%}
  
  <button class="page-btn" id="nextPage" {%if page_obj.has_next%}data-next-number="{{page_obj.next_page_number}}" onclick="applyPagination()"{%else%} disabled {%endif%} >→</button>
 
</div>
{%endif%}