{%load dashboard_tags%}
<div class="table-header">
  <h2 id="tableTitle">Items</h2>
  <span class="result-count" id="resultCount">{{paginator.count}} results</span>
</div>
<div style="overflow-x: auto;">
  <table id="dataTable">
    <thead id="tableHeader">
      <tr>
        <th>code</th>
        <th>discount</th>
        <th>valid from</th>
        <th>valid to</th>
        <th>status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="tableBody">
      {%for coupon in object_list%}
      <tr>
        <td>{{coupon.code}}</td>
        <td>{{coupon.discount}}</td>
        <td>{{coupon.valid_from}}</td>
        <td>{{coupon.valid_to}}</td>
        <td>{{coupon.status}}</td>

        <td>
          <button class="action-btn edit-btn"  onclick="update('{{coupon.id}}')">✏️ Edit</button>
          <button class="action-btn delete-btn" data-id="{{coupon.id}}" onclick="openDeleteModal('{{coupon.id}}', '{{coupon.code}}')">🗑️ Remove</button>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
<div id="noResultsMessage" class="no-results" style="display: none;">
  <div class="no-results-icon">🖼️</div>
  <h3>No items found</h3>
  <p>Try adjusting filters or create new</p>
  <button class="empty-state-btn" id="emptyStateActionBtn">Create new</button>
</div>

    

{%if page_obj%}
<!-- PAGINATION -->
<div class="pagination" id="pagination">
  
  <button class="page-btn" id="prevPage" {% if page_obj.has_previous %}data-next-number="{{page_obj.previous_page_number}}" onclick="applyPagination()"{%else%} disabled {%endif%}>←</button>
  
  {%for page in paginator.page_range%}
  <button class="page-btn {%if page_obj.number == page%}active {%endif%}" data-next-number="{{page}}" onclick="applyPagination()">{{page}}</button>
  {%endfor%}
  
  <button class="page-btn" id="nextPage" {%if page_obj.has_next%}data-next-number="{{page_obj.next_page_number}}" onclick="applyPagination()"{%else%} disabled {%endif%} >→</button>
 
</div>
{%endif%}