{%extends 'dashboard/_dashboard_base.html'%}
{%load static%}

{%block style%}
<link rel="stylesheet" type="text/css" href="{%static 'css/dashboard/product_types.css'%}">
{%endblock%}

{%block content%}

<main class="main">

  <div class="page-title">Coupons</div>

  <div id="messageBox" class="message"></div>

  <div class="top-bar">
  <a class="create-btn" href="{%url 'dashboard:coupon_create'%}">
  Create Offer
  </a>
  </div>

  <div class="card">

  <table>

  <thead>
  <tr>
            <th>code</th>
            <th>discount</th>
            <th>valid from</th>
            <th>valid to</th>
            <th>status</th>
            <th>Actions</th>
  </tr>
  </thead>

  <tbody id="tableBody">
    {%for coupon in object_list%}
    <tr data-id="{{coupon.id}}">
            <td><strong>{{coupon.code}}</strong></td>
            <td>{{coupon.discount}}</td>
            <td>{{coupon.valid_from}}</td>
            <td>{{coupon.valid_to}}</td>
            <td><span class="badge success">{{coupon.active}}</span></td>
            <td >

              <a class="btn update" href="{%url 'dashboard:coupon_update' coupon.pk %}">
              Update
              </a>

              <button class="btn delete"
              onclick="openDelete('{{coupon.id}}','{{coupon.name}}')">
              Delete
              </button>
            </td>
    </tr>
    {%endfor%}
  </tbody>

  </table>

  </div>

</main>
{%endblock%}

{%block extra%}
<!-- DELETE MODAL -->

<div class="modal" id="deleteModal">
    {%csrf_token%}
  <div class="modal-box">

  <h3>Delete Product Type</h3>

  <p id="deleteText">
  Are you sure you want to delete this product type?
  </p>

  <div class="modal-actions">
  <button class="cancel" onclick="closeModal()">Cancel</button>
  <button class="confirm" id="confirmDelete">Delete</button>
  </div>

  </div>

</div>
{%endblock%}

{%block script%}
<script>


function openDelete(id,name){



document.getElementById("deleteText").innerText=
`Are you sure you want to delete "${name}"?`

document.getElementById("deleteModal").style.display="flex"
document.getElementById("confirmDelete").setAttribute("data-id", id)

}

function closeModal(){
document.getElementById("deleteModal").style.display="none"
}



const BaseDeleteUrl = "{%url 'dashboard:delete_offer' 0 %}"
document.getElementById("confirmDelete").onclick = async()=>await deleteObject(BaseDeleteUrl);


function showMessage(text,type){

const box=document.getElementById("messageBox")

box.innerText=text
box.className="message "+type
box.style.display="block"

setTimeout(()=>{
box.style.display="none"
},10000)

}



</script>
{%endblock%}