{%load catalog_tags%}
      <div class="comment-item" data-review-id="{{comment.id}}">
        <div class="comment-header">
          <span class="comment-stars">
            {%render_comment_star comment%}
          </span>
          <span class="comment-author">{{comment.user.get_full_name}}</span>
          <span class="comment-date">{{comment.updated|timesince}} ago</span>
        </div>
        <div class="comment-text">{{comment.content}}</div>
        <div class="comment-footer">
          <span>
            <svg class="icon icon-sm like {% has_reaction comment 'like'%}" viewBox="0 0 24 24" data-id="{{comment.id}}" onclick="reactionReview({{comment.id}}, 'like')">
              <path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z"/>
            </svg>
            <span class="like-count">{% count_review_rection comment 'like' %}</span>
          </span>
          <span>
            <svg class="icon icon-sm unlike {% has_reaction comment 'unlike'%}" viewBox="0 0 24 24" data-id="{{comment.id}}" onclick="reactionReview({{comment.id}}, 'unlike')">
              <path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z"/>
            </svg>
            <span class="unlike-count">{% count_review_rection comment 'unlike' %}</span>
          </span>
          <div class="comment-actions">
            <button class="action-btn edit" onclick="editReview({{comment.id}})">
              <svg class="icon icon-sm" viewBox="0 0 24 24">
                <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
              </svg>
              Edit
            </button>
            <button class="action-btn delete" onclick="deleteReview({{comment.id}})">
              <svg class="icon icon-sm" viewBox="0 0 24 24">
                <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
              </svg>
              Delete
            </button>
          </div>
        </div>
      </div>