
{% extends "account/account_base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block style %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/profile.css' %}"
>
{% endblock %}

{% block content %}
<div class="account-content">
    <h2>Profile Information</h2>
    <p class="sub-text">
        Manage your personal information and account settings.
    </p>

    <div class="profile-box">
        <div class="profile-row">
            <span>Name:</span>
            <span>
                {{ profile_user.get_full_name|default:"Not provided" }}
            </span>
        </div>

        <div class="profile-row">
            <span>Email:</span>
            <span>{{ profile_user.email }}</span>
        </div>

        <div class="profile-row">
            <span>Phone:</span>
            <span>
                {{ profile_user.phone_number|default:"Not provided" }}
            </span>
        </div>

        <div class="profile-row">
            <span>Joined:</span>
            <span>{{ profile_user.date_joined|date:"F j, Y" }}</span>
        </div>

        <div class="profile-actions">
            <a
                class="btn-action btn-edit"
                href="{% url 'account:edit_profile' profile_user.id %}"
            >
                Edit Profile
            </a>

            <a
                class="btn-action btn-password"
                href="{% url 'account:password_change' %}"
            >
                Change Password
            </a>

            <a
                class="btn-action btn-delete"
                href="{% url 'account:delete_profile' profile_user.id %}"
            >
                Delete Profile
            </a>
        </div>
    </div>
</div>
{% endblock %}
