
{%extends 'dashboard/_dashboard_base.html'%}
{%load static%}

{%block style%}
<link rel="stylesheet" type="text/css" href="{%static 'css/dashboard/general_create.css'%}">
{%endblock%}

{%block title%}
{%endblock%}

{%block content%}
<main class="main">

<div class="card">
<h2>{%if object%}Update{%else%}Create{%endif%}Product Group</h2>

<!-- ERROR MESSAGE BOX -->
<div id="messageBox" class="message"></div>

<form id="productGroupForm">
{%csrf_token%}
<div class="form-group">
<label>Name</label>
{{form.name}}

</div>

<div class="form-group">
<label>Slug</label>
{{form.slug}}

</div>

<div class="form-group">
<label>Description</label>
{{form.description}}

</div>

<div class="form-group">
<label>Image</label>
{{form.image}}

</div>

<div class="form-group">
<label>Status</label>
{{form.status}}
</div>

<div class="form-group">
<label>Product Class</label>
{{form.product_classes}}
</div>

<div class="form-group">
<label>Categories</label>
{{form.categories}}
</div>

<div class="form-group">
<label>Stock Records</label>

<div class="object-selector" onclick="openModal()">
Click to add stock records
</div>

<div class="selected-products">

<table id="selectedProductsTable">

<thead>
<tr>
<th>Image</th>
<th>Name</th>
<th>Price</th>
<th>UPC</th>
<th>In Stock</th>
<th></th>
</tr>
</thead>

<tbody id="selectedProducts">
	{%for stock in object.stock_records.all%}
	<tr data-item="{{stock.id}}">
		<td><img src="{{stock.get_product_image}}"></td>
		<td>{{stock.product.title}}</td>
		<td>{{stock.price}}</td>
		<td>{{stock.product.upc}}</td>
		<td>{{stock.num_in_stock}}</td>
		<td>
		<button class="btn remove-btn" onclick="removeSelected()">Remove</button>
		</td>

	</tr>
	{%endfor%}
</tbody>

</table>

</div>


</div>

<button type="submit" class="btn">{%if object%}Update{%else%}Create{%endif%} Product Group</button>

</form>
</div>

</main>

<!-- MODAL -->

<div class="modal" id="productModal">

<div class="modal-content">

<h3>Select Products</h3>

<input class="search-box" type="text" placeholder="Search product...">

<table>

<thead>
<tr>
<th>Image</th>
<th>Name</th>
<th>Price</th>
<th>UPC</th>
<th>In Stock</th>
<th></th>
</tr>
</thead>

<tbody>
{%for stock in stock_records%}
<tr>
	<td><img src="{{stock.get_product_image}}"></td>
	<td>{{stock.product.title}}</td>
	<td>${{stock.price}}</td>
	<td>{{stock.product.upc}}</td>
	<td>{{stock.num_in_stock}}</td>

	<td>
		<button class="btn toggle-btn"
		data-id="{{stock.id}}"
		data-name="{{stock.product.title}}"
		data-price="${{stock.price}}"
		data-upc="{{stock.product.upc}}"
		data-stock="{{stock.num_in_stock}}"
		data-img="{{stock.get_product_image}}"
		onclick="addRemove()"
		>
		{%if stock in object.stock_records.all%}
		remove
		{%else%}
		Add
		{%endif%}
		</button>
	</td>

</tr>
{%endfor%}

</tbody>

</table>

<br>

<button class="btn" onclick="closeModal()">Close</button>

</div>

</div>
{%endblock%}

{%block script%}

<script>
let stock_records = []
document.querySelectorAll("#selectedProducts  tr").forEach(tr=>{
	stock_records.push(tr.dataset.item)
})


/* ---------- MODAL CONTROL ---------- */

function openModal(){
	document.getElementById("productModal").style.display="flex";
}

function closeModal(){
	document.getElementById("productModal").style.display="none";
}



/* ---------- ERROR HANDLING SYSTEM ---------- */

function clearErrors() {
	document.getElementById("messageBox").style.display = "none";
	document.getElementById("messageBox").innerHTML = "";

	document.querySelectorAll(".error").forEach(el => {
	el.classList.remove("error");
	});
}

function showErrors(errors) {
		    const box = document.getElementById("messageBox");
		    box.className = "message error";

		    let html = "<ul>";

		    Object.entries(errors).forEach(([field, msgs]) => {

		        msgs.forEach(msg => {
		            if (field === "__all__") {

		                html += `<li>${msg.message}</li>`;
		            } else {
		                html += `<li><strong>${field}</strong>: ${msg.message}</li>`;
		            }
		        });
		    });

		    html += "</ul>";
		    box.innerHTML = html;
}

/* ---------- FORM SUBMIT ---------- */

document.getElementById("productGroupForm").addEventListener("submit", async function(e){
	e.preventDefault();
	const categories = document.getElementById("id_categories")


	const productClasses = document.getElementById("id_product_classes")



	const status = document.getElementById("id_status").value
	const imageInput = document.getElementById("id_image")
	const name = document.getElementById("id_name").value
	const slug = document.getElementById("id_slug").value
	const description = document.getElementById("id_description").value

	let formData = new FormData()

	formData.append("name", name)
	formData.append("slug", slug)
	formData.append("description", description)
	formData.append("status", status)
	formData = getMultipleSelectValues(categories, formData, "categories")
	formData = getMultipleSelectValues(productClasses, formData, "product_classes")
	stock_records.forEach(value=>{
		formData.append("stock_records", value)
	})


	formData.append("image", imageInput.files[0])

	try{

		const data = await fetchPost("{{request.path}}", formData)
		if (data.status){
			window.location.href = "{%url 'dashboard:product_group'%}"
		}else{

			const errors = data.errors
			showErrors(errors);
		}
	}catch(error){
		showError("An unexpected error occurred. Please try again later.", "error")
	}

});

function getMultipleSelectValues(multipeInput, formData, field){
	Array.from(multipeInput.selectedOptions).forEach(option => {
		formData.append(field, option.value)
	})
	return formData
}


/* --------- PRODUCT TOGGLE SYSTEM -------- */

function addRemove(){
	btn = event.target
	const id = btn.dataset.id
	stock_records.push(id)
	const name = btn.dataset.name
	const price = btn.dataset.price
	const img = btn.dataset.img
	const upc = btn.dataset.upc
	const stock = btn.dataset.stock
	const table = document.getElementById("selectedProducts")
	const existing = table.querySelector(`[data-item="${id}"]`)

	if(!existing){

		const row = document.createElement("tr")
		row.dataset.item = id

		row.innerHTML = `
		<td><img src="${img}"></td>
		<td>${name}</td>
		<td>${price}</td>
		<td>${upc}</td>
		<td>${stock}</td>
		<td>
		<button class="btn remove-btn" onclick="removeSelected()">Remove</button>
		</td>
		`

		table.appendChild(row)

		btn.textContent="Remove"
		btn.style.background="gray"

		/* remove button in selected table */



	}else{
		stock_records = stock_records.filter(item=>item!==id)
		existing.remove()
		btn.textContent="Add"
		btn.style.background=""

	}

	}
	function removeSelected(){
		event.preventDefault()
		const btn = event.target
		const row = btn.closest("tr")
		const id = row.dataset.item
		productListIDs = productListIDs.filter(item=>item!==id)
		row.remove()
		btn.textContent="Add"
		btn.style.background=""
	}

  function showError(message, message_class){
    const box = document.getElementById("messageBox");
    box.className = `message ${message_class}`;

    box.innerHTML = message;
  }
</script>

{%endblock%}
