{%extends 'account/account_base.html'%}
{%load static%}


{%block title%}Edit Profile{%endblock%}
{%block style%}
<link rel="stylesheet" type="text/css" href="{%static 'css/address_book.css'%}">

{%endblock%}
{%block content%}

  <!-- content -->
  <div class="account-content">

    <h2>Address Book</h2>
    <p class="sub-text">Manage your saved delivery addresses.</p>

    <a href="#" class="btn-add">+ Add New Address</a>

    <div class="address-grid">

    <!-- address 1 -->

    {%for address in object_list%}
    <div class="address-card">

      {%if address.is_default_address%}
      <span class="default-badge">Default</span>
      {%endif%}
      <strong>{{address.full_name}}</strong>

      <p>
      {{ address.line1 }}<br>
      {% if address.line2 %}{{ address.line2 }}<br>{% endif %}
      {{ address.city }}, {{ address.province }} {{ address.postcode }}<br>
      {{address.get_country_display}}<br>
      Phone: {{ address.phone_number }}
      </p>

      <div class="address-actions">
      <button class="btn btn-edit">Edit</button>
      <button class="btn btn-delete">Delete</button>
      </div>

    </div>
    {%endfor%}





    </div>

  </div>

{%endblock%}

{%block script%}

</script>
{%endblock%}