  
<div class="breadcrumb-wrapper">
  <div class="breadcrumb">
  <a href="{%url 'catalog:home'%}">Home</a>
    <svg class="icon icon-sm" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
    </svg>
{%for cat in breadcrumb%}
  <a href="{%url 'catalog:category_products' cat.slug%}">{{cat.name}}</a>
  {% if not forloop.last %}
    <svg class="icon icon-sm" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
    </svg>
  {%endif%}
  {%endfor%}
  {%if product%}
    <svg class="icon icon-sm" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
    </svg>
  <a href="">{{product.title}}</a>
  {%endif%}
</div>
</div>