  <section class="section">
    <div class="section-header">
      <div class="section-title">
        <svg width="28" height="28" viewBox="0 0 24 24" fill="var(--primary)">
          <path d="M12 2L15 9H22L16 14L19 21L12 16.5L5 21L8 14L2 9H9L12 2Z"/>
        </svg>
        {{offer_name|upper}} Offers
      </div>
      <a href="{%url 'catalog:offer_products' offer_name  %}" class="view-all-link">
        View all offers
        <svg class="icon icon-sm" viewBox="0 0 24 24">
          <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/>
        </svg>
      </a>
    </div>

    <div class="offers-scroll">
      {%for offer_application in offer_apps|slice:":2"%}


      <div class="offer-card">
        <span class="offer-tag">⚡ FLASH SALE</span>
        <div class="offer-img" style="background-image: url('{{offer_application.stock.get_product_image}}');"></div>
        <div class="offer-title">{{offer_application.stock.product.title}}</div>
        <div class="offer-desc">{{offer_application.stock.product.short_description}}</div>
        <div class="offer-price"><span class="new-price">${{offer_application.stock.get_final_price}}</span><span class="old-price">${{offer_application.stock.price}}</span></div>
      </div>

      {%endfor%}

    </div>
  </section>