{%extends 'dashboard/_dashboard_base.html'%}
{%load static%}

{%block style%}
<link rel="stylesheet" type="text/css" href="{%static 'css/dashboard/offer_ranges.css'%}">
{%endblock%}

{%block content%}

<main class="main">

  <div class="page-title">Offer Ranges</div>

  <div id="messageBox" class="message"></div>

  <div class="top-bar">

  <div></div>

  <a class="create-btn"
  href="{%url 'dashboard:offer_range_create'%}">
  Create Offer Range
  </a>

  </div>

  <div class="card">

  <table>

  <thead>
  <tr>
  <th>Name</th>
  <th>Slug</th>
  <th>Num Products</th>
  <th>Description</th>
  <th>Created</th>
  <th>Action</th>
  </tr>
  </thead>

  <tbody id="tableBody">
    {%for object in object_list%}
    <tr>

      <td>{{object.name}}</td>
      <td>{{object.slug}}</td>
      <td>{{object.product_count}}</td>
      <td>{{object.description}}</td>
      <td>{{object.created}}</td>

      <td>

      <a class="btn update" href="{%url 'dashboard:offer_range_update' object.id %}">
      Update
      </a>

      <button class="btn delete"
      onclick="openDelete(${r.id},'${r.name}')">
      Delete
      </button>

      </td>

    </tr>
    {%endfor%}
  </tbody>

  </table>

  </div>

</main>
{%endblock%}
{%block extra%}
<!-- DELETE MODAL -->

<div class="modal" id="deleteModal">

  <div class="modal-box">

  <h3>Delete Offer Range</h3>

  <p id="deleteText"></p>

  <div class="modal-actions">

  <button class="cancel" onclick="closeModal()">Cancel</button>

  <button class="confirm" id="confirmDelete">
  Delete
  </button>

  </div>

  </div>

</div>
{%endblock%}

{%block script%}
<script>



/* DELETE */

function openDelete(id,name){

  deleteId=id

  document.getElementById("deleteText").innerText=
  `Are you sure you want to delete "${name}"?`

  document.getElementById("deleteModal").style.display="flex"

}

function closeModal(){
  document.getElementById("deleteModal").style.display="none"
}

document.getElementById("confirmDelete").onclick=function(){

  try{

  const index=ranges.findIndex(r=>r.id===deleteId)

  if(index>-1){

  ranges.splice(index,1)

  showMessage("Offer range deleted successfully","success")

  }else{

  showMessage("Failed to delete range","error")

  }

  }catch(err){

  showMessage("Unexpected error occurred","error")

  }

  closeModal()
  render()

}

/* MESSAGE */

function showMessage(text,type){

  const box=document.getElementById("messageBox")

  box.innerText=text
  box.className="message "+type
  box.style.display="block"

  setTimeout(()=>{
  box.style.display="none"
  },10000)

}


</script>
{%endblock%}