

<tr>

<td><strong><a href="{%url 'dashboard:category_update' object.pk %}">{{object.name}}</a></strong></td>

<td>{{object.description}}</td>

<td>{%if object.get_descendant_count > 0 %}<a class="child-link" href="{%url 'dashboard:sub_category' object.pk %}">{{object.get_descendant_count}}</a>{%else%}0{%endif%}</td>

<td>
  {%if object.image%}<img src="{{object.image.url}}" class="category-img" alt="thumb">{%else%}-{%endif%}
</td>

<td>

<a class="btn update" href="{%url 'dashboard:category_update' object.id %}">
Update
</a>

<button class="btn delete"
onclick="openDelete('{{object.id}}','{{object.name}}')">
Delete
</button>

</td>

</tr>