{%extends 'account/account_base.html'%}
{%load static%}


{%block title%}Edit Profile{%endblock%}
{%block style%}
<link rel="stylesheet" type="text/css" href="{%static 'css/password_change.css'%}">

{%endblock%}
  {%block content%}

  <!-- content -->
<div class="account-content">

<h2>Change Password</h2>
<p class="sub-text">Update your account password.</p>

<div id="alertBox" class="alert"></div>

<form method="POST" id="change-password-form">
  {%csrf_token%}
  <div class="password-box">
  {%for field in form%}
  <div class="form-group">
  {{field.label_tag}}
  {{field}}
  </div>
  {%endfor%}

</form>



<div class="actions">
<button class="btn btn-save" onclick="changePassword()">Update Password</button>
<button class="btn btn-cancel" onclick="returnProfile()">Cancel</button>
</div>

</div>

</div>

{%endblock%}

{%block script%}
<script type="text/javascript">

function showMessage(type,msg){

  const box=document.getElementById("alertBox");

  box.className="alert";

  if(type==="success"){
  box.classList.add("alert-success");
  }

  if(type==="error"){
  box.classList.add("alert-error");
  }

  box.classList.add("show");
  box.innerText=msg;

}

function changePassword(){
  event.preventDefault();
  let form=document.getElementById("change-password-form");
  let current=document.getElementById("id_old_password").value;
  let newPass=document.getElementById("id_new_password1").value;
  let confirm=document.getElementById("id_new_password2").value;

  /* validation */

  if(current===""){
  showMessage("error","Current password is required.");
  return;
  }

  if(newPass.length<6){
  showMessage("error","New password must be at least 6 characters.");
  return;
  }

  if(newPass!==confirm){
  showMessage("error","Passwords do not match.");
  return;
  }

  const csrf = document.querySelector("[name='csrfmiddlewaretoken']").value;
  const box=document.getElementById("alertBox");
  const formData = new FormData(form)
  fetch("{%url 'account:password_change'%}", {
    method:"POST",
    headers:{
      "X-CSRFToken":csrf
    },
    body:formData
  })
  .then(response=>response.json())
  .then(data=>{
    console.log(data)
    if (data.status){
      box.classList.add("alert-success");
      box.innerText="Password updated successfully.";
    }else{
      box.innerHTML = ""
      for (const [field, messages] of Object.entries(data.errors)) {

          messages.forEach(msg => {
            box.innerHTML += `<div>${msg}</div>`;
          });
      }
      box.classList.add("alert-error");

    }
    box.classList.add("show");
    setTimeout(()=>{
      box.classList.remove("show");
    },10000)

  })

}

function returnProfile(){
  event.preventDefault();
  window.location.href = "{%url 'account:profile'%}"
}
</script>
{%endblock%}
