{%extends 'dashboard/_dashboard_base.html'%}
{%load static%}

{%block style%}
<link rel="stylesheet" type="text/css" href="{%static 'css/dashboard/product_types.css'%}">
{%endblock%}

{%block content%}

<main class="main">

  <div class="page-title">Product Types</div>

  <div id="messageBox" class="message"></div>

  <div class="top-bar">
  <a class="create-btn" href="{%url 'dashboard:product_type_create'%}">
  Create Product Type
  </a>
  </div>

  <div class="card">

  <table>

  <thead>
  <tr>
  <th>Name</th>
  <th>Slug</th>
  <th>Action</th>
  </tr>
  </thead>

  <tbody id="tableBody">
    {%for object in object_list%}
    <tr data-id="{{object.id}}">

      <td>{{object.name}}</td>

      <td class="slug">{{object.slug}}</td>

      <td>

      <a class="btn update" href="{%url 'dashboard:product_type_update' object.id %}">Update</a>

      <button class="btn delete" onclick="openDelete('{{object.id}}','{{object.name}}')">
      Delete
      </button>

      </td>

    </tr>
    {%endfor%}
  </tbody>

  </table>

  </div>

</main>
{%endblock%}

{%block extra%}
<!-- DELETE MODAL -->

<div class="modal" id="deleteModal">
    {%csrf_token%}
  <div class="modal-box">

  <h3>Delete Product Type</h3>

  <p id="deleteText">
  Are you sure you want to delete this product type?
  </p>

  <div class="modal-actions">
  <button class="cancel" onclick="closeModal()">Cancel</button>
  <button class="confirm" id="confirmDelete">Delete</button>
  </div>

  </div>

</div>
{%endblock%}

{%block script%}
<script>


function openDelete(id,name){



document.getElementById("deleteText").innerText=
`Are you sure you want to delete "${name}"?`

document.getElementById("deleteModal").style.display="flex"
document.getElementById("confirmDelete").setAttribute("data-id", id)

}

function closeModal(){
document.getElementById("deleteModal").style.display="none"
}



const BaseDeleteUrl = "{%url 'dashboard:product_type_delete' 0 %}"
document.getElementById("confirmDelete").onclick = async()=>await deleteObject(BaseDeleteUrl);


function showMessage(text,type){

const box=document.getElementById("messageBox")

box.innerText=text
box.className="message "+type
box.style.display="block"

setTimeout(()=>{
box.style.display="none"
},10000)

}



</script>
{%endblock%}