{%load static dashboard_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{%static 'css/dashboard/dashboard_base.css'%}">

{%block style%} {%endblock%}
<title>E‑SHOP Admin | Overview</title>

</head>

<body>

<!-- HEADER -->

<header class="top-header">
<div class="brand-logo">E‑SHOP Admin</div>
<a href="{%url 'catalog:home'%}" class="view-store-btn">Return to Store</a>
</header>


<!-- NAVBAR -->

<nav class="nav-bar">

<a class="nav-item {% is_active_link 'overview' %}" href="{%url 'dashboard:overview'%}">Overview</a>

<div class="nav-group">
    <a class="nav-item {% is_active_link 'catalog' %}" >Catalog</a>
    <div class="sub-nav">
    <a href="{%url 'dashboard:products'%}">Products</a>
    <a href="{%url 'dashboard:product_type_list'%}">Product Types</a>
    <a href="{%url 'dashboard:categories'%}">Categories</a>
    <a href="{%url 'dashboard:applied_offers'%}">Applied Offers</a>

    </div>
</div>

<div class="nav-group">
    <a class="nav-item {% is_active_link 'collection' %}" >Collection</a>
    <div class="sub-nav">
    <a href="{%url 'dashboard:product_group'%}">Product List</a>
    <a href="">collection</a>
    </div>
</div>

<div class="nav-group">
<a class="nav-item {% is_active_link 'fulfilment' %}" >Fulfilment</a>
<div class="sub-nav">
<a href="{%url 'dashboard:order_list'%}">Orders</a>
<a href="{%url 'dashboard:statistics'%}">Statistics</a>

</div>
</div>

<div class="nav-group">
<a class="nav-item {% is_active_link 'customer' %}" >Customers</a>
<div class="sub-nav">
<a href="{%url 'dashboard:customers'%}">Customer List</a>
</div>
</div>

<div class="nav-group">
<a class="nav-item {% is_active_link 'offer' %}" >Offers</a>
<div class="sub-nav">
<a href="{%url 'dashboard:offer_list'%}">Offers</a>
<a href="{%url 'dashboard:offer_range'%}">Offer Range</a>
<a href="{%url 'dashboard:coupon_list'%}">Coupons</a>
</div>
</div>

<div class="nav-group">
<a class="nav-item {% is_active_link 'content' %}" >Content</a>
<div class="sub-nav">
<a href="{%url 'dashboard:reviews'%}">Reviews</a>
</div>
</div>

<div class="nav-group">
<a class="nav-item {% is_active_link 'report' %}" >Reports</a>
<div class="sub-nav">
<a href="{%url 'dashboard:sales_report'%}">Sales Report</a>

</div>
</div>

</nav>


<!-- MAIN -->
{%block breadcrumb%}
{%endblock%}
<main class="main">

{%block content%}

{%endblock%}

</main>
{%block extra%}
{%endblock%}

<script type="text/javascript">
async function fetchPost(url, formData){

    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value
    const response = await fetch(url, {
        method:"POST",
        headers:{
            "X-CSRFToken":csrfToken,   
        },
        body:formData

    })

    const data = await response.json()

    return data
}

async function deleteObject(baseUrl) {

    try {
        const id = document.getElementById("confirmDelete").getAttribute("data-id")
        const url = baseUrl.replace("0", id)
        console.log(url)
        const data = await fetchDeleteObject(url)
        if (data.status){
            console.log(`tr[data-id="${id}"]`)
            const tr = document.querySelector(`tr[data-id="${id}"]`)
            tr.remove()
            showMessage("Product type deleted successfully", "success");

        }else{
            showMessage("An error occurred while deleting", "error");
        }

    } catch (error) {
        console.log(error)
        showMessage("An error occurred while deleting", "error");


    }

    closeModal();

};

</script>
{%block script%}
{%endblock%}
</body>
</html>
