
{%extends 'dashboard/_dashboard_base.html'%}
{%load static%}

{%block style%}
<link rel="stylesheet" type="text/css" href="{%static 'css/dashboard/general_create.css'%}">
{%endblock%}

{%block title%}
{%endblock%}

{%block content%}
<main class="main">

<div class="card">
<h2>{%if object%}Update{%else%}Create{%endif%} Collection</h2>

<!-- ERROR MESSAGE BOX -->
<div id="messageBox" class="message"></div>

<form id="productGroupForm">
{%csrf_token%}
<div class="form-group">
<label>Name</label>
{{form.name}}

</div>

<div class="form-group">
<label>Slug</label>
{{form.slug}}

</div>

<div class="form-group">
<label>Description</label>
{{form.description}}

</div>

<div class="form-group">
<label>Image</label>
{{form.image}}

</div>

<div class="form-group">
<label>Status</label>
{{form.status}}
</div>

<div class="form-group">
<label>Product Class</label>
{{form.product_classes}}
</div>

<div class="form-group">
<label>Categories</label>
{{form.categories}}
</div>

<div class="form-group">
<label>Product Groups</label>

<div class="object-selector" onclick="openModal()">
Click to add Product Group
</div>

<div class="selected-objects">

<table id="selectedProductListsTable">

<thead>
<tr>
<th>Image</th>
<th>Name</th>
<th>products</th>
<th>status</th>

<th></th>
</tr>
</thead>

<tbody id="selectedProductLists">
	{%for product_group in object.product_lists.all%}
	<tr data-item="{{product_group.id}}">
		<td><img src="{%if product_group.image%}{{product_group.image}}{%endif%}"></td>
		<td>{{product_group.name}}</td>
		<td>-</td>
		<td>{{product_group.status}}</td>

		<td>
		<button class="btn remove-btn" onclick="removeSelected()">Remove</button>
		</td>

	</tr>
	{%endfor%}
</tbody>

</table>

</div>


</div>

<button type="submit" class="btn">{%if object%}Update{%else%}Create{%endif%} Collection</button>

</form>
</div>

</main>

<!-- MODAL -->

<div class="modal" id="productModal">

<div class="modal-content">

<h3>Select Products</h3>

<input class="search-box" type="text" placeholder="Search product...">

<table>

<thead>
<tr>
<th>Image</th>
<th>Name</th>
<th>products</th>
<th>status</th>
<th></th>
</tr>
</thead>

<tbody>
{%for product_group in product_groups%}
<tr>
	<td><img src="{%if product_group.image%}{{product_group.image.url}}{%endif%}"></td>
	<td>{{product_group.name}}</td>
	<td>-</td>
	<td>{{product_group.status}}</td>

	<td>
		<button class="btn toggle-btn"
		data-id="{{product_group.id}}"
		data-name="{{product_group.name}}"
		data-status="{{product_group.status}}"
		data-products="-"
		data-img="{%if product_group.image%}{{product_group.image.url}}{%endif%}"
		onclick="addRemove()" 
		>
		{%if product_group.image in object.product_lists.all%}
		remove
		{%else%}
		Add
		{%endif%}
		</button>
	</td>

</tr>
{%endfor%}

</tbody>

</table>

<br>

<button class="btn" onclick="closeModal()">Close</button>

</div>

</div>
{%endblock%}

{%block script%}

<script>
let productListIDs = []
document.querySelectorAll("#selectedProductLists  tr").forEach(tr=>{
	productListIDs.push(tr.dataset.item)
})


/* ---------- MODAL CONTROL ---------- */

function openModal(){
	document.getElementById("productModal").style.display="flex";
}

function closeModal(){
	document.getElementById("productModal").style.display="none";
}



/* ---------- ERROR HANDLING SYSTEM ---------- */

function clearErrors() {
	document.getElementById("messageBox").style.display = "none";
	document.getElementById("messageBox").innerHTML = "";

	document.querySelectorAll(".error").forEach(el => {
	el.classList.remove("error");
	});
}

function showErrors(errors) {
		    const box = document.getElementById("messageBox");
		    box.className = "message error";

		    let html = "<ul>";

		    Object.entries(errors).forEach(([field, msgs]) => {
		      console.log(field, msgs)
		        msgs.forEach(msg => {
		            if (field === "__all__") {
		              console.log(msg)
		                html += `<li>${msg.message}</li>`;
		            } else {
		                html += `<li><strong>${field}</strong>: ${msg.message}</li>`;
		            }
		        });
		    });

		    html += "</ul>";
		    box.innerHTML = html;
}

/* ---------- FORM SUBMIT ---------- */

document.getElementById("productGroupForm").addEventListener("submit", async function(e){
	e.preventDefault();
	const categories = document.getElementById("id_categories")


	const productClasses = document.getElementById("id_product_classes")



	const status = document.getElementById("id_status").value
	const imageInput = document.getElementById("id_image")
	const name = document.getElementById("id_name").value
	const slug = document.getElementById("id_slug").value
	const description = document.getElementById("id_description").value

	let formData = new FormData()

	formData.append("name", name)
	formData.append("slug", slug)
	formData.append("description", description)
	formData.append("status", status)
	formData = getMultipleSelectValues(categories, formData, "categories")
	productListIDs.forEach(value=>{
		formData.append("product_lists", value)
	})


	formData.append("image", imageInput.files[0])
	
	try{

		const data = await fetchPost("{{request.path}}", formData)
		if (data.status){
			window.location.href = "{%url 'dashboard:collection_list'%}"
		}else{

			const errors = data.errors
			showErrors(errors);
		}
	}catch(error){
		showError("An unexpected error occurred. Please try again later.", "error")
	}

});

function getMultipleSelectValues(multipeInput, formData, field){
	Array.from(multipeInput.selectedOptions).forEach(option => {
		formData.append(field, option.value)
	})
	return formData
}


/* --------- PRODUCT TOGGLE SYSTEM -------- */

function addRemove(){
	btn = event.target
	const id = btn.dataset.id
	productListIDs.push(id)
	const name = btn.dataset.name
	const status = btn.dataset.status
	const products = btn.dataset.proudcts

	const img = btn.dataset.img


	const table = document.getElementById("selectedProductLists")
	const existing = table.querySelector(`[data-item="${id}"]`)

	if(!existing){

		const row = document.createElement("tr")
		row.dataset.item = id

		row.innerHTML = `
		<td><img src="${img}"></td>
		<td>${name}</td>
		<td>${products}</td>
		<td>${status}</td>
		<td>
		<button class="btn remove-btn" onclick="removeSelected()">Remove</button>
		</td>
		`

		table.appendChild(row)

		btn.textContent="Remove"
		btn.style.background="gray"

		/* remove button in selected table */



	}else{
		productListIDs = productListIDs.filter(item=>item!==id)
		existing.remove()
		btn.textContent="Add"
		btn.style.background=""

	}

	}

	function removeSelected(){
		event.preventDefault()
		const btn = event.target
		const row = btn.closest("tr")
		const id = row.dataset.item
		productListIDs = productListIDs.filter(item=>item!==id)
		row.remove()
		btn.textContent="Add"
		btn.style.background=""
	}
  function showError(message, message_class){
    const box = document.getElementById("messageBox");
    box.className = `message ${message_class}`;
    
    box.innerHTML = message;
  }
</script>

{%endblock%}