
  {%for offer in offers%}
    {%if offer.is_valid and offer.priority == priority%}

      <section class="hero-banner" {%if offer.image%}style="  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('{{offer.image.url}}');"{%endif%}>
            <div class="hero-content" >
              <h1>{{offer.desc_header}}</h1>
              <p>{{offer.description}}</p>
              <a href="{%url 'catalog:offer_products' offer.slug %}" class="btn">Explore {{offer.name}} deals <i class="fa-regular fa-arrow-right"></i></a>
            </div>

      </section>
    {%endif%}
  {%endfor%}